/* This will be filled shortly */
body{
    font-family: "Comic Sans MS",sans-serif;
    text-align: center;
}

#booklist{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    width: 50%;
    margin: auto;
}

#booklist>div {
    display: flex;
    width: 100%;
}

#booklist>div>div {
width: 100%;
display: flex;
}

#booklist div button {
    margin-left: auto;

}

#add-book {
    margin-top: 3%;
}
